name: "starter"

services:
  cli:
    image: "patrikjak/php84-cli"
    container_name: "starter-cli"
    environment:
      XDEBUG_MODE: develop,debug,coverage
    networks:
      - shared
    volumes:
      - ".:/var/www"

  node:
    image: "node:24-alpine"
    container_name: "starter-node"
    working_dir: /var/www
    networks:
      - shared
    volumes:
      - "./:/var/www"

networks:
  shared:
    driver: bridge