parameters:
	ignoreErrors:
		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsToMany\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Models/Users/Permission.php

		-
			message: '#^Access to undefined constant static\(Patrikjak\\Starter\\Policies\\BasePolicy\)\:\:FEATURE_NAME\.$#'
			identifier: classConstant.notFound
			count: 1
			path: src/Policies/BasePolicy.php

		-
			message: '#^Unable to resolve the template type TMakeKey in call to method static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/Users/PermissionSynchronizer.php

		-
			message: '#^Unable to resolve the template type TMakeValue in call to method static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/Users/PermissionSynchronizer.php

		-
			message: '#^Access to an undefined property Patrikjak\\Starter\\Models\\Users\\User\:\:\$role_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/Users/UsersTableProvider.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Http/Controllers/Api/MetadataController/UpdateTest.php

		-
			message: '#^Call to an undefined method Patrikjak\\Starter\\Database\\Factories\\StaticPages\\StaticPageFactory\:\:hasSlug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/View/Layout/HeaderTest.php

		-
			message: '#^Call to an undefined method Patrikjak\\Starter\\Database\\Factories\\StaticPages\\StaticPageFactory\:\:hasSlug\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Unit/Services/Slugs/SlugServiceTest.php