parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Http/Controllers/Api/MetadataController/UpdateTest.php

